<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="content-type" content="text/html;charset=utf-8">
        <script type="text/javascript"
        src="http://qzonestyle.gtimg.cn/qzone/openapi/qc_loader.js" charset="utf-8" data-callback="true"></script>
    </head>
    <body>
            <script type="text/javascript">
                var paras = {};
                
                QC.api("get_user_info", paras)
                    .success(function(s){//成功回调
                        console.log(s);
                        alert("获取用户信息成功！当前用户昵称为："+s.data.nickname);
                    })
                    .error(function(f){//失败回调
                        alert("获取用户信息失败！");
                    })
                    .complete(function(c){//完成请求回调
                        alert("获取用户信息完成！");
                    });
                </script>
    </body>
</html>